.MySelect {
  padding: 10px 15px;
  margin: 5px;
  width: 16%;
  min-width: 180px;
  font-size: 16px;
  font-weight: 500;
  color: #58b6b9;
  border: 1px solid #edf1cf;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
