.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 15px;
  padding-top: 40px;
  background-color: #fff;
  border-radius: 3px;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 4px rgba(45, 44, 46, 0.3);
  z-index: 11;
  @media screen and (min-width: 500px) {
    padding-top: 60px;
    width: 530px;
  }
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px;
  width: 44px;
  height: 44px;
  fill: #58b6b9;
  cursor: pointer;

  &:hover {
    animation: rotateCloseBtn 600ms forwards;
  }
}

@keyframes rotateCloseBtn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.cancelBtn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  border: none;
  outline: none;
  cursor: pointer;
  color: #58b6b9;
  background: #fff;
  text-decoration-line: underline;
  transition: all 0.15s linear;

  &:hover,
  &:focus {
    transform: scale(1.03);
    text-shadow: 0 3px 4px rgba(45, 44, 46, 0.3);
  }
}
