.cls_gold_1 {
  fill: #6187aa;
}
.cls_gold_2 {
  fill: #f9c67d;
}
.cls_gold_3 {
  fill: #f4ba64;
}
.cls_gold_4 {
  fill: #efb454;
}
.cls_gold_5 {
  fill: #f4b251;
}
.cls_gold_6 {
  fill: #e8aa58;
}
.cls_gold_7 {
  fill: #edda56;
}
.cls_gold_8 {
  fill: #eac757;
}
.cls_gold_9 {
  fill: #7597bc;
}
.cls_gold_10 {
  fill: #497291;
}
.cls_gold_11 {
  fill: #3a637c;
}

.cls_silver_1 {
  fill: #6187aa;
}
.cls_silver_2 {
  fill: #f4f4f4;
}
.cls_silver_3 {
  fill: #edeceb;
}
.cls_silver_4 {
  fill: #ddd;
}
.cls_silver_5 {
  fill: #e0dfde;
}
.cls_silver_6 {
  fill: #f7f7f7;
}
.cls_silver_7 {
  fill: #fff;
}
.cls_silver_8 {
  fill: #efefef;
}
.cls_silver_9 {
  fill: #7597bc;
}
.cls_silver_10 {
  fill: #497291;
}
.cls_silver_11 {
  fill: #3a637c;
}

.cls_bronze_1 {
  fill: #6187aa;
}
.cls_bronze_2 {
  fill: #c19d85;
}
.cls_bronze_3 {
  fill: #d3ac92;
}
.cls_bronze_4 {
  fill: #cca38d;
}
.cls_bronze_5 {
  fill: #e2b79f;
}
.cls_bronze_6 {
  fill: #eac4ac;
}
.cls_bronze_7 {
  fill: #e2bba6;
}
.cls_bronze_8 {
  fill: #d8b298;
}
.cls_bronze_9 {
  fill: #7597bc;
}
.cls_bronze_10 {
  fill: #497291;
}
.cls_bronze_11 {
  fill: #3a637c;
}
