.author {
  position: relative;
  display: flex;
  padding: 9px;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  background: white;
}

.number {
  display: inline;
  width: 20px;
  font-weight: 500;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: 45px;
  height: 45px;
  font-size: 18px;
  font-weight: 700;
  color: #edf1cf;
  background: gray;
  border-radius: 50%;
  border: 1px solid #edf1cf;
}

.name {
  width: 100px;
  @media screen and (min-width: 500px) {
    width: 100%;
  }
}

.author_color {
  @extend .author;
  background: #e8f5e9;
}

.author_content {
  font-size: medium;
  text-align: initial;
}

.author_pageviews {
  margin-left: auto;
}
.medal {
  position: absolute;
  top: 22px;
  left: 70%;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  @media screen and (min-width: 650px) {
    left: 55%;
  }
}
